# api側

# Ignore bundler config.
api/.bundle

# Ignore all logfiles and tempfiles.
api/log/*
api/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
api/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
api/storage/*
!/storage/.keep
api/.byebug_history

# Ignore master key for decrypting credentials and more.
api/config/master.key

# local env files
api/.env

# フロント側

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontend/.env*.local
frontend/.env

# vercel
frontend/.vercel

# typescript
*.tsbuildinfo
frontend/next-env.d.ts
